@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: all 0.2s linear;
}

header{
    background: #6fa9b7;
}

.heager{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.box-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 0 ;
}

.box-header h1{
    font-size: 1.5rem;
}

.select img {
    height: 2rem;
    margin-left: 1rem;
}

.select{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select p {
    font-weight: 800;
    cursor: pointer;
    padding: 0.3em;
    border-radius: 5px;
}

.select p:hover{
    background-color: #eee;
  
}

.select h5{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding: 0.3em;
    border-radius: 5px;
    cursor: pointer;
}


.select h5:hover{
    background-color: #eee;
}

.auth{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.auth h4{
    width: 100px;
    background: #fff;
    margin-left: 1rem;
    padding: .3rem;
    border-radius: 5px;
    cursor: pointer;
}

.stays{
    display: flex;
    align-items: center;
    text-align: center;
}

.box-stays{
    margin-right: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
   margin-top: 1rem;
   margin-bottom: 2rem;
   color: #fff;
   padding: .5rem 1rem;
   border-radius: 20px;
}

.box-stays:hover{
    border-radius: 20px;
    cursor: pointer;
    background: #b3d8e1;
    color: #000;
    border: 1px solid #fff;
}

.box-stays:nth-child(1){
    border-radius: 20px;
    cursor: pointer;
    background: #b3d8e1;
    color: #000;
    border: 1px solid #fff;
}

.box-stays span  {
    margin-left: .2rem;
}

.find{
   padding-bottom: 4rem;
   padding-top: 2rem;
}

.find h1 {
    margin-bottom: .5rem;
    color: #fff;
}
.find p{
    letter-spacing: .1rem;
    color: #fff;
}